<ul class="navbar-nav flex-grow-1">
    @if (User.IsInRole("User") || User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="MyOrders">My orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Feedback" asp-action="LeaveFeedback">Leave feedback</a>
        </li>
    }
</ul>