<h1 class="text-center">Welcome to admin panel</h1>
<hr>
<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-xs-6">
            <h3 class="text-center">Things you can do</h3>
            <div class="well" style="max-height: 300px;overflow: auto;">
                <ul class="list-group checked-list-box">
                    <li class="list-group-item"><a href="/Admin/Product/Add">You can add new designs</a></li>
                    <li class="list-group-item"><a href="/Admin/Product/All">You can delete products</a></li>
                    <li class="list-group-item"><a href="/Admin/Product/All">You can edit products</a></li>
                    <li class="list-group-item"><a href="/Admin/RawMaterial/Show">You can order raw materials</a></li>
                    <li class="list-group-item"><a href="/Admin/Inventory/All">You can check stock availability</a></li>
                    <li class="list-group-item"><a href="/Admin/Order/Orders">You can manage client orders</a></li>
                    <li class="list-group-item"><a href="/Admin/Feedback/AllFeedbacks">You can see client feedbacks</a></li>
                    <li class="list-group-item"><a href="/Admin/Product/Produce">You can produce carpets</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>