@using CarpetStoreAndManagement.ViewModels.FeedbackViewModels
@model IEnumerable<FeedbackViewModel>

@if (!Model.Any())
{
    <div class="d-flex justify-content-center">
        <h1>There are not any feedbacks yet !</h1>
    </div>
}
else
{
    <h1 class="text-center">Feedbacks</h1>
    <hr>
    <div class="row">
        @foreach (var feedback in Model)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
                <div class="card shadow" style="min-height:415px">
                    <div class="card-body text-center">
                        <h6>Name: @feedback.FullName</h6>
                        <hr>
                        <h6>Email: @feedback.Email</h6>
                        <hr>
                        <h8>Feedback</h8>
                        <hr>
                        <p>@feedback.Message</p>
                    </div>
                </div>
            </div>
        }
    </div>
}

