<div class="d-flex flex-wrap justify-content-between align-items-center">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 Company, Inc</p>
    <p class="col-md-4 mb-0 text-muted">Address: Bul. "Hadzi Dimitar", 42, Sliven, Bulgaria</p>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/Admin/Home" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="/Admin/Product/All" class="nav-link px-2 text-muted">Products</a></li>
        <li class="nav-item"><a href="/Admin/Order/Orders" class="nav-link px-2 text-muted">Orders</a></li>
        <li class="nav-item"><a href="/Admin/Feedback/AllFeedbacks" class="nav-link px-2 text-muted">Feedbacks</a></li>
    </ul>
</div>